@import '../../Utils/utils.scss';

.item {
  display: grid;
  @media screen and (min-width: 320px) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
