@import '../../Utils/utils.scss';

.challengeCard {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  background-color: $card-bg-color;
}

.enter {
  //transform: scale(0.1);
  transform: rotateY(0deg);
}

.enterActive {
  //transform: scale(1);
  transform: rotateY(180deg);
  transition: 1000ms linear;
}

.exit {
  //transform: scale(1);
  transform: rotateY(180deg);
}

.exitActive {
  //transform: scale(0.1);
  transform: rotateY(0deg);
  transition: 1000ms linear;
}
