@import '../../Utils/utils.scss';

.Button {
  @extend %button-throw;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  color: $secondary-text;

  /*Style for button PLUS*/
  &.icon-plus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $button-color;

    color: $white-color;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;

    position: fixed;
    bottom: 30px;
    right: 15px;
    animation: radial-pulse 1s infinite;
    @keyframes radial-pulse {
      0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
      }

      100% {
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
      }
    }

    @media screen and (min-width: 768px) {
      bottom: 42px;
      right: 23px;
    }
    @media screen and (min-width: 1280px) {
      bottom: 40px;
      right: 46px;
    }

    &.icon-plus::after {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $button-color;
      filter: blur(4px);

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      transition: $animation-timing;
    }

    &.icon-plus:hover::after {
      filter: blur(8px);
    }
  }

  /*Style for button GO*/
  &.go {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $button-color;
    cursor: pointer;

    color: $white-color;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;

    position: relative;
  }

  &.go::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $button-color;
    filter: blur(4px);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: $animation-timing;
  }

  &.go:hover::after {
    filter: blur(8px);
  }

  /*Style for button CREATE*/

  &.create {
    color: $hover-color;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    // margin-left: 7px;
  }

  /*Style for CANCEL, DELETE*/

  &.cancel {
    color: $cancel-button;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: bold;
  }

  &.delete {
    color: $delete-button;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;

    &:before {
      content: ' ';
      background: $secondary-text;
      width: 1px;
      float: left;
      margin-right: 7px;

      @media screen and (max-width: 767px) {
        height: 20px;
      }
      @media screen and (min-width: 768px) {
        height: 16px;
      }
    }
  }

  /*Style for DONE, CLEAR, SAVE*/

  &.icon-done {
    color: $delete-button;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
  }

  &.icon-clear {
    color: $delete-button;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;

    &::after {
      content: ' ';
      background: $secondary-text;
      width: 1px;
      float: left;
      margin: 0 7px 0 7px;

      @media screen and (max-width: 767px) {
        height: 20px;
      }
      @media screen and (min-width: 768px) {
        height: 16px;
      }
    }
  }

  &.icon-save {
    color: $delete-button;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;

    &::after {
      content: ' ';
      background: $secondary-text;
      width: 1px;
      float: right;
      margin: 0 7px 0 7px;

      @media screen and (max-width: 767px) {
        height: 20px;
      }
      @media screen and (min-width: 768px) {
        height: 16px;
      }
    }
  }

  /*Style for button CLEAR,SAVE,DONE,STAR,TROPHY*/

  &.icon-done {
    & svg {
      @media screen and (max-width: 767px) {
        width: 16px;
        height: 12px;
      }
      @media screen and (min-width: 768px) {
        width: 14px;
        height: 10px;
      }
    }
  }
  &.icon-save,
  &.icon-clear {
    & svg {
      @media screen and (max-width: 767px) {
        width: 12px;
        height: 12px;
      }
      @media screen and (min-width: 768px) {
        width: 10px;
        height: 10px;
      }
    }
  }
  &.icon-Vector,
  &.icon-trophy {
    & svg {
      transition: filter $animation-timing;
      fill: $hover-color;
      @media screen and (max-width: 767px) {
        width: 19px;
        height: 19px;
      }
      @media screen and (min-width: 768px) {
        width: 15px;
        height: 15px;
      }
      &:hover {
        filter: drop-shadow(0px 2px 2px $hover-color);
      }
    }
  }

  &.active {
    & svg {
      fill: $hover-color;
    }
  }
  // закомитил Виталик Спека
  // &:not(:last-child) {
  //   margin-right: 5px;
  // }
}

.edit {
  pointer-events: none;
}
