@import '../../Utils/utils.scss';

.InputTodo__input {
  @extend %button-throw;
  font-style: normal;
  color: inherit;
  // max-width: 155px;
  counter-reset: $text-color;
  border: none;
  text-align: center;
  font-weight: 700;

  margin: 0;
  margin-left: auto;
  margin-right: auto;
  height: auto;

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 2px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 2px;
  }
}
.challenge {
  background-color: red;
}

.InputTodo__input:focus {
  outline: none;
}

/* LABEL ======================================= */
.InputTodo__label {
  color: $active-color;
  line-height: 1;
  position: absolute;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  white-space: nowrap;
  transition: $animation-timing;
  -moz-transition: $animation-timing;
  -webkit-transition: $animation-timing;

  //@extend
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* active state */
.InputTodo__input:focus ~ label,
.InputTodo__input:valid ~ label {
  top: -15px;
  color: $active-color;
}

/* active state */
.InputTodo__input:focus ~ .InputTodo__bar:before,
.InputTodo__input:focus ~ .InputTodo__bar:after {
  width: 50%;
}

/* BOTTOM BARS ================================= */
// .InputTodo__bar {
.InputTodo__bar {
  position: relative;
  display: block;
  @media screen and (max-width: 767px) {
    width: 100%;
    // width: 230px;
  }
  @media screen and (min-width: 768px) {
    // width: 155px;
    width: 100%;
  }
}
.InputTodo__bar:before,
.InputTodo__bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: $hover-color;
  transition: $animation-timing;
  -moz-transition: $animation-timing;
  -webkit-transition: $animation-timing;
}
.InputTodo__bar:before {
  left: 50%;
}
.InputTodo__bar:after {
  right: 50%;
}

/* form starting stylings ------------------------------- */
.InputTodo__form {
  position: relative;

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

/* LABEL ======================================= */
.InputTodo__label {
  color: $active-color;
  position: absolute;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  white-space: nowrap;
  transition: $animation-timing;
  -moz-transition: $animation-timing;
  -webkit-transition: $animation-timing;

  //@extend
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
