@import '../../Utils/utils.scss';

.InputTodo__input {
  @extend %button-throw;
  font-weight: 700;
  font-style: normal;
  font-family: Helvetica, sans-serif;
  max-width: 155px;
  counter-reset: $text-color;
  // display: block;
  border: none;
  text-align: center;

  margin: 0;
  margin-left: auto;
  margin-right: auto;
  height: auto;

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}

.InputTodo__input:focus {
  outline: none;
}

/* LABEL ======================================= */
.InputTodo__label {
  font-family: Helvetica, sans-serif;
  color: $active-color;
  position: absolute;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  white-space: nowrap;
  transition: $animation-timing;
  -moz-transition: $animation-timing;
  -webkit-transition: $animation-timing;

  //@extend
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* active state */
.InputTodo__input:focus ~ label,
.InputTodo__input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: $active-color;
}

/* active state */
.InputTodo__input:focus ~ .InputTodo__bar:before,
.InputTodo__input:focus ~ .InputTodo__bar:after {
  width: 50%;
}

/* BOTTOM BARS ================================= */
// .InputTodo__bar {
.InputTodo__bar {
  position: relative;
  display: block;
  width: 155px;
}
.InputTodo__bar:before,
.InputTodo__bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: $hover-color;
  transition: $animation-timing;
  -moz-transition: $animation-timing;
  -webkit-transition: $animation-timing;
}
.InputTodo__bar:before {
  left: 50%;
}
.InputTodo__bar:after {
  right: 50%;
}

/* form starting stylings ------------------------------- */
.InputTodo__form {
  position: relative;

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

/* LABEL ======================================= */
.InputTodo__label {
  font-family: HelveticaNeueCyr;
  color: $active-color;
  position: absolute;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  white-space: nowrap;
  transition: $animation-timing;
  -moz-transition: $animation-timing;
  -webkit-transition: $animation-timing;

  //@extend
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
