@import '../../Utils/utils.scss';

.container {
  @extend %container-styles;
  position: relative;

  margin: 0;
  padding: 0;
  @media screen and (max-width: 767px) {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    width: 669px;
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
    margin-right: -4px;
  }
}

.check {
  opacity: 0;
  width: 100%;
  cursor: pointer;
  border-color: transparent;
  border-style: none;
  background: transparent none;
  position: absolute;
  z-index: 1;
  &:checked + .doneList .menu {
    transform: translateY(0%);
    height: auto;
  }
  &:checked + .doneList .icon {
    transform: rotate(0deg);
  }
}

.spoiler {
  position: relative;
  display: flex;
  width: 100%;

  padding: 0;
  padding-bottom: 1px;
  margin: 0;
  border: none;

  // font-family: HelveticaNeueCyr;
  // font-size: 15px;
  // font-style: normal;
  // font-weight: 300;
  // line-height: 15px;
  // letter-spacing: 0.02em;
  // text-align: left;
  & p {
    margin: 0;
  }
}

.icon {
  transition: $animation-timing;
  transform: rotate(180deg);
  margin-left: 10px;
  width: 12px;
  height: 14px;
}

.dottedLine {
  width: 100%;
  height: 14px;
  border-top: 1px dashed #b9c3c8;
  transform: translateY(50%);
}

.menu {
  transform: translateY(-110%);
  transition: transform 500ms ease-in;
  height: 0;
}

.contentMenu {
  margin: 0;
}

.overflow {
  overflow: hidden;
  position: relative;
}
