@import '../../Utils/utils.scss';

.Category__list {
  @extend %list-throw;
}

.Category__item {
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: all $animation-timing;
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &:hover {
    transition: all $animation-timing;
    cursor: pointer;
    color: $secondary-text;
  }
}
