@import '../../Utils/utils.scss';

.buttonLogout {
  @extend %button-throw;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: transparent;

  &:hover .icon,
  &:focus .icon {
    fill: $hover-color;
    transition: $animation-timing;
  }
}

.icon {
  fill: $header-text;
}
