@import '../../Utils/utils.scss';

.waitingMessage {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.registr_section {
  position: relative;
}

.registr_container {
  @extend %container-styles;
  @media screen and (max-width: 420px) {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
  @media screen and (min-width: 421px) and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    padding-top: 212px;
    padding-bottom: 212px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 153px;
    padding-bottom: 154px;
    padding-left: 229px;
  }
}

.registr_title {
  @extend %text-throw;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $hover-color;
  @media screen and (max-width: 420px) {
    font-size: 20px;
    line-height: 1;
  }
  @media screen and (min-width: 421px) {
    font-size: 24px;
    line-height: 1;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 0.9;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

.registr_caption {
  @extend %text-throw;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $card-bg-color;
  @media screen and (max-width: 420px) {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1;
  }
  @media screen and (min-width: 421px) {
    margin-top: 10px;
    font-size: 24px;
    line-height: 1;
  }
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    font-size: 24px;
    line-height: 0.9;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

.registr_textContainer {
  @media screen and (max-width: 420px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 421px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 35px;
  }
}

.registr_text {
  @extend %text-throw;
  color: $secondary-text;
  font-weight: 400;
  letter-spacing: 0.02em;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 3.2;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 2.5;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.8;
  }
}

.registr_navLink {
  text-decoration: none;
}

.registr_link {
  margin-left: 5px;
  font-weight: 400;
  color: $card-bg-color;
  letter-spacing: 0.02em;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 3.2;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 2.5;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.8;
  }
}

.registr_secondBtnContainer {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.registr_inputContainerSend {
  position: relative;
  display: flex;
  @media screen and (max-width: 767px) {
    align-items: center;
    justify-content: center;
  }
}

.registr_inputSendLetter {
  @extend %input-throw;
  padding: 0;
  border: none;
  border-bottom: 1px solid $hover-color;
  color: $hover-color;
  @media screen and (max-width: 767px) {
    height: 30px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 198px;
    margin-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-top: 3px;
  }
  &:focus + .registr_labelSendLetter {
    transform: translateX(-100px);
  }
}

.registr_labelSendLetter {
  color: $hover-color;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 7px;
  font-weight: 300;
  font-size: 12px;
  transform: translateX(0);
  transition: $animation-timing;
}

.registr_sendBtn {
  @extend %button-throw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $hover-color;
  &::after {
    display: block;
    background-size: cover;
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(../../Images/icon_send.svg);
  }
  &:focus {
    background-color: $card-bg-color;
  }
}

.registr_form {
  @media screen and (max-width: 420px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  @media screen and (min-width: 421px) {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    margin-top: 100px;
    width: 298px;
  }
}

.registr_inputContainer {
  position: relative;
  overflow: hidden;
}

.registr_input {
  @extend %input-throw;
  padding: 0;
  border: none;
  border-bottom: 1px solid $hover-color;
  color: $hover-color;
  @media screen and (max-width: 420px) {
    width: 100%;
    height: 30px;
  }
  @media screen and (min-width: 421px) {
    width: 100%;
    height: 38px;
    margin-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 3px;
  }
  &:focus + .registr_label {
    transform: translateX(-100px);
  }
}

.registr_label {
  color: $hover-color;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 7px;
  font-weight: 300;
  line-height: 0.9;
  transform: translateX(0);
  transition: $animation-timing;
  @media screen and (max-width: 420px) {
    font-size: 16px;
  }
  @media screen and (min-width: 421px) {
    font-size: 18px;
  }
}

.registr_btn {
  display: flex;
  @media screen and (max-width: 420px) {
    justify-content: center;
    margin-top: 50px;
  }
  @media screen and (min-width: 421px) {
    justify-content: end;
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.registr_pictureBlock {
  position: relative;
}

.registr_bgMobile {
  position: absolute;
  @media screen and (max-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 321px) {
    bottom: -100px;
    left: 0;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.registr_loginPic {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
  }
}

.registr_loginPicture {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 40px;
    right: 0;
    pointer-events: none;
  }
  @media screen and (min-width: 1280px) {
    bottom: -100px;
  }
}
