@import '../../Utils/utils.scss';

.cardDone {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   transform: translateY(-105%);
  transition: all 300ms ease-in;
  background: #ffffff;
  opacity: 1;

  padding-top: 19px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 18px;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    width: 290px;
    height: 260px;
  }
  @media screen and (min-width: 768px) {
    width: 205px;
    height: 199px;
  }
  &[hidden] {
    // transform: translateY(-105%);
    opacity: 0;
    pointer-events: none;
  }
}

.iconFon {
  margin-top: 10px;
  margin-bottom: 7px;
  width: 144px;
  height: 123px;
  @media screen and (max-width: 767px) {
    width: 195px;
    height: 172px;
  }
}

.title {
  margin: 0;
  padding: 0;

  font-family: HelveticaNeueCyr;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  align-self: flex-start;
}

.textTitle {
  margin-left: 7px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;

  color: #00d7ff;
  font-family: HelveticaNeueCyr;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-decoration: underline;
}

.btnContinue {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  transform: scale(1);
  // transform: rotate(0deg);
  transition: $animation-timing;
  &:hover {
    // transform: rotate(360deg);
    transform: scale(1.1);
  }
}

.iconArrow {
  width: 7px;
  height: 5px;
  margin-left: 7px;
}
