@import '../../Utils/utils.scss';

.DateAndTimePickers__form {
  display: flex;
  color: $secondary-text;
}

.DateAndTimePickers__input {
  position: relative;

  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02em;

  color: $secondary-text;
  border: none;
  background-color: inherit;

  line-height: 1;
  outline: inherit;

  @media screen and (max-width: 767px) {
    width: 18px;
    height: 18px;
  }
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 14px;
  }

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 1;
    top: -2px;
    right: -4px;

    background-image: url('../../Icons/svg/calendar.svg');
    @media screen and (max-width: 767px) {
      width: 18px;
      height: 18px;
    }
    @media screen and (min-width: 768px) {
      width: 14px;
      height: 14px;
    }
  }

  &::-webkit-datetime-edit-fields-wrapper {
    display: none;
  }
}

.active {
  color: $text-color;
  border: none;
  cursor: pointer;
  &__challenge {
    background: $card-bg-color;
    color: $secondary-text;
  }
}

.isChallenge {
  color: $secondary-text;
}

.DateAndTimePickers__text {
  @extend %text-throw;
  display: block;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02em;
  margin-right: 7px;

  color: inherit;
  border: none;
  background-color: inherit;
  line-height: 1;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
