@import '../../Utils/utils.scss';

.DateAndTimePickers__input {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $text-color;

  text-align: center;
  letter-spacing: 0.02em;

  border: none;
  cursor: pointer;
}

.active {
  color: $active-color;
}
