@import '../../Utils/utils.scss';

.Btn {
  display: flex;
  align-items: center;

  cursor: pointer;
  position: relative;

  &__circle {
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &.easy {
      background: $hover-color;
    }

    &.normal {
      background: $cancel-button;
    }

    &.hard {
      background: $delete-button;
    }
  }

  &__icon {
    transform: rotate(180deg);
  }
}

.Btn__span {
  text-transform: uppercase;
  color: $text-color;
  margin-right: 7px;

  &.level {
    text-transform: lowercase;
    color: $secondary-text;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
