@import '../../Utils/utils.scss';

.todoItem {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 19px;
  margin-left: auto;
  margin-right: auto;

  background: $white-color;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  transition: all $animation-timing;

  @media screen and (max-width: 767px) {
    width: 290px;
    height: 260px;
    padding-bottom: 33px;
  }
  @media screen and (min-width: 768px) {
    width: 205px;
    height: 199px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1280px) {
    width: 205px;
    height: 199px;
  }
  &__challenge {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 21px;
    padding-right: 21px;
    margin-left: auto;
    margin-right: auto;
    background: $card-bg-color;
    box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
      3px 4px 4px rgba(21, 57, 90, 0.03);
    border-radius: 10px;
    transition: all $animation-timing;
    @media screen and (max-width: 767px) {
      width: 290px;
      height: 260px;
      padding-bottom: 33px;
    }
    @media screen and (min-width: 768px) {
      width: 205px;
      height: 199px;
      padding-bottom: 21px;
    }
    @media screen and (min-width: 1280px) {
      width: 205px;
      height: 199px;
    }
  }
}

.todoItemСomplexity {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: $secondary-text;

  @media screen and (max-width: 767px) {
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 14px;
  }
}
.todoItemDiv {
  display: flex;

  align-items: center;
}

.todoItemСircle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 50%;
  background: tomato;
  @media screen and (max-width: 767px) {
    width: 10px;
    height: 10px;
  }
  @media screen and (min-width: 768px) {
    width: 8px;
    height: 8px;
  }
  &.easy {
    background: $hover-color;
  }

  &.normal {
    background: $cancel-button;
  }

  &.hard {
    background: $delete-button;
  }
}

.todoItemDifficulty {
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}

.todoItemSvg {
  filter: drop-shadow(0px 2px 2px $hover-color);
  @media screen and (max-width: 767px) {
    width: 19px;
    height: 19px;
  }
  @media screen and (min-width: 768px) {
    width: 15px;
    height: 15px;
  }
}

.todoItemChallenge {
  display: none;
  &__challenge {
    position: absolute;
    color: $secondary-text;

    margin: 0;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.02em;
    @media screen and (max-width: 767px) {
      top: 63px;
      left: 103px;
      font-size: 14px;
      line-height: 14px;
    }
    @media screen and (min-width: 768px) {
      top: 53px;
      left: 66px;
      font-size: 12px;
      line-height: 12px;
    }
  }
}
.todoItemTitle {
  font-style: normal;
  font-weight: 700;
  word-wrap: break-word;
  margin: 0;
  height: auto;
  text-align: center;
  color: $bold-text;
  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px;
  }
  &__challenge {
    font-style: normal;
    font-weight: 700;
    word-wrap: break-word;
    margin: 0;
    height: auto;
    text-align: center;
    color: $white-color;
    @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 12px;
    }
  }
}

.todoItemTime {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  color: $secondary-text;
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    margin-bottom: 38px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    margin-bottom: 36px;
  }
}

.todoItemGroup {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  transform: translateY(-1px);
  font-style: normal;
  font-weight: 400;
  padding-left: 21px;
  letter-spacing: 0.02em;

  color: $text-color;
  &.family {
    background: $family-color;
  }
  &.health {
    background: $healt-color;
  }
  &.learning {
    background: $learning-color;
  }
  &.leisure {
    background: $leisure-color;
  }
  &.work {
    background: $work-color;
  }
  &.stuff {
    background: $active-color;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 14px;
    padding-top: 10px;
    top: 194px;
    width: 120px;
    height: 35px;
    border-radius: 0px 25px 25px 0px;
  }
  @media screen and (min-width: 768px) {
    font-size: 11px;
    top: 153px;
    line-height: 11px;
    padding-top: 7px;
    width: 88px;
    height: 25px;
    border-radius: 0px 15px 15px 0px;
  }
}

.Modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 10px;
}
