@import '../../Utils/utils.scss';

.todoItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 290px;
  height: 260px;

  background: #ffffff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    width: 290px;
    height: 260px;
  }
  @media screen and (min-width: 768px) {
    width: 205px;
    height: 199px;
  }
  @media screen and (min-width: 1280px) {
    width: 205px;
    height: 199px;
  }
}

.todoItemСomplexity {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
  margin-left: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #b9c3c8;
}

.todoItemDivSvg {
}
.todoItemSvg {
}

.todoItemGroup {
  margin-bottom: 44px;
  padding-left: 21px;
  padding-top: 10px;
  width: 120px;
  height: 35px;
  background: #d3f6ce;
  border-radius: 0px 25px 25px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #282828;
}

.todoItemTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  height: auto;
  text-align: center;

  color: #282828;
}

.todoItemTime {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 38px;
  color: #b9c3c8;
}
